@media screen {
    .onlyprint, .heading-secondary.onlyprint {
        display: none;
    }
}

@media print {

    @page {
        margin: 15mm 15mm 15mm 15mm;
    }

    header, footer, a, nav, #notice-banner, .govuk-phase-banner, .centered-content, .button, .govuk-breadcrumbs, #content > .text--right, button, #get-help-action, .link-back, p, details.govuk-details, title, .noprint, .heading-secondary.noprint {
        display: none;
    }

    .grid-row.column-two-thirds {
        width: 100%;
    }

    html {
        background: white;
    }

    .foot {
        position: absolute;
        bottom: 10px;
        right: 0;
        color: #6f777b;
        font-size: 14px;
    }

    #content {
        padding-bottom: 0px;
        margin: 5%;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .heading-xlarge {
        font-size: 30px;
        margin-bottom: 12px;
        margin-top: 0px;
    }

    h2.govuk-heading-l {
        font-size: 27px;
        float: left;
    }

    h3.govuk-heading-m {
        font-size: 18px !important;
        margin-top: 1.25em;
        float: left;
        clear: left;
    }

    .heading-secondary {
        font-size: 18px !important;
    }

    .bold-small {
        font-size: 16px
    }

    .govuk-heading-s, hr {
        float: left;
        text-align: left;
    }

    li {
        font-size: 16px !important;
    }

    dt, dd {
        font-size: 14px !important;
    }

    dt {
        float: left;
        clear: left;
        width: 25%;
        text-align: left;
        border-bottom: none;
    }

    dd {
        float: left;
        text-align: left;
        width: 25%;
        overflow: hidden;
        border-bottom: none;
    }

    dd.govuk-summary-list__value {
        width: 50%;
    }

}
