@import "tabs.css";

.task-overdue {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #d4351c;
  margin-left: 5px;
  padding-top: 3px;
}

.column-one-quarter, .column-one-half {
  margin-bottom: 5px;
}

a.in-selected-tab {
  color: #0B0C0C;
  text-decoration: none;
}

.bta-navigation ul{
    margin-top: 0;
}

.bta-navigation li{
    display: inline-block;
    margin: 0 0.5em;
}

.bta-navigation a{
    font-size: 16px;
}

@media(max-width: 768px) {
    .bta-navigation li{
        display: block;
        margin: 0.5em 0 0.5em 0.5em;
    }
}

.bta-navigation {
    padding: 10px 0 8px 0;
}
